<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="login-container">
        <h2>🔐 Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="texto">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="texto">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
    </main>
    <footer>

    </footer>
</body>

</html>
