<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="registro-container">
            <h2>Registro de Alumno</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="texto">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <div class="textoerror">{{ field.errors }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Registrarse</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>