<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container mt-5">
        <h2>📝 Registro</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Registrarse</button>
        </form>
    </div>
</body>

</html>